.beat-img{
  width: 75vmin;
  border-radius: 9px;
  left: 0;
  align-self: center;
  margin-right: 1.5rem;
}
.left-border{
  border-left: rgba(158, 158, 158, 0.404) solid 1px;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.like-icon{
  -webkit-filter: invert(0.9);
  filter: invert(0.9);
  
  
  height: 28px;
  margin-left: 1.5rem;
  z-index: 0;
}

.like-number{
  margin-top: 0.09rem;
}
.beat{
  padding-bottom: 1rem;
  border-bottom: 1px rgba(100,100,100,0.5) solid;
}
.dots{
  margin-top: 1.4rem;
  margin-right: 1rem;
  filter: invert(0.7);
  height: 36px;
  width: 36px;

}