#image-input{
  display: none;
}

.preview-container {
  position: relative;
  display: inline-block; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: grey solid 1px;
  border-radius: 9px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

}

.preview{
  height: 40vh;
  height: 40dvw;
  
  align-self: center;
  object-fit: cover;
  
  
}
.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
}

.paperclip{
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 32px;
  height: 32px;
}

.text-area {
  background-color: transparent;
  color: white;
  border: none;
  resize: none; 
  outline: none; 
  caret-color: white; 
  width: 80vmin;
  height: 50vmin;
}

.text-area::placeholder {
  color: grey; 
}

.text-area:focus {
  background-color: transparent;
  color: white;
  outline: none; 
}

.post-btn{
  border-radius: 9px;
  background-color: rgba(114, 114, 114, 0.521);
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
