body {
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(3, 0, 24);
  margin: 0;
  padding-top: 3px;
  box-sizing: border-box;
  z-index: 999;
}

.icon {
  -webkit-filter: invert(1);
  filter: invert(0.3);
  height: 48px;
  width: 48px;
}

